/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style */
body{
	font :16px/28px arial sans-serif;
	background-color: black;
	background-image: url(bg8.png);
	color: white;
}


.container {
		width: 900px;
		margin: auto;
		background-color: #143352;
}

.header {
	padding: 10px;
	padding-bottom: 5px;
}

.header .judul { 
	font-size: 45px;
	font-weight: bold;
	font-style: italic;	
}

.header ul li {
	display: inline-block;
	margin-top: 3px;
	margin-right: 20px;
}

.header a {
	color: darkturquoise;
	text-decoration: none;
	padding: 5px;
}

.header a:hover{
	background-color: salmon;
	color: white;
}

.gambar {
	height: 300px;
	background-image: url(aurora2.jpg);
	background-size: cover;
	background-position: 0 -100px;
	border-top: 5px solid darkturquoise;
	border-bottom: 5px solid darkturquoise;
	border-left: 5px solid darkturqoise;
	border-right: 5px solid darkturqoise;
}

.isi {
	padding: 5px;
}

.isi h2 {
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}

.isi h3{
	font-size: 20px;
	font-weight: bold;
}

.isi a{
	text-decoration: none;
	color: darkturquoise;
}

.isi a:hover {
	background-color: salmon;
	color: white;
}

.isi .penulis {
	font-size: 17px;
	margin-top: -5px;
}

.isi p {
	margin-bottom: 5px;
	font-size: 14px;
}

.footer {
	background-color: #333;
	padding: 5px;
}

.footer .bawah{
	color: ghostwhite;
	text-align: center;
	font-size: 12px;
}
